NationalParks.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Root element: NationalParks contains one or more NationalPark elements -->
  <xs:element name="NationalParks">
    <xs:complexType>
      <xs:sequence>
        <!-- At least one NationalPark must exist, unbounded maximum -->
        <xs:element name="NationalPark" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <!-- Name of the national park - exactly one required -->
              <xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
              <!-- One or more phone numbers allowed per park -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
              <!-- Address element - exactly one required -->
              <xs:element name="Address" minOccurs="1" maxOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <!-- Address sub-elements in left-to-right order as per Figure 1 -->
                    <xs:element name="Number" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="City"   type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="State"  type="xs:string" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="Zip"    type="xs:string" minOccurs="1" maxOccurs="1"/>
                  </xs:sequence>
                  <!-- NearestAirport is a REQUIRED attribute on Address -->
                  <xs:attribute name="NearestAirport" type="xs:string" use="required"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <!-- Rating is an OPTIONAL attribute on NationalPark -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
